extends ../layout
block css
    style.
        html, body {
            background: #FFF;
            color: #000;
        }

block content
    .container
        .row
            .col-xs-12.text-center
                h1: strong Crysta Lynn Conley
                a(href="/docs/resume.pdf", download="resume.pdf") Download Resume
                h3: strong Career Summary
                p 30 years of experience in the management and culinary industry seeking to obtain a challenging position in this field where my extensive experience and training can and will be utilized.
        .row
            .col-xs-12.text-center
                h3: strong Education
        .row
            .col-xs-6.text-left
                span: strong Texas A&M University, Texarkana, Texas
            .col-xs-6.text-right
                span: strong 1998 - 2001
        .row
            .col-xs-12.text-center
                p Completed 105 hours towards a Bachelor of Arts in Education
        .row
            .col-xs-12
                h3.text-center: strong Employment History
        .row
            .col-xs-6
                p.text-left: strong Trailercakes LLC
            .col-xs-6
                p.text-right: strong October 2015 to Present
        .row
            .col-xs-12
                p.text-center Store General Manager
        .row
            .col-xs-6
                p.text-left: strong Pizza Hut Corporation
            .col-xs-6
                p.text-right: strong May 2014 – October 2015
        .row
            .col-xs-12
                p.text-center Restaurant General Manager
        .row
            .col-xs-6
                p.text-left: strong David Beards Corporation
            .col-xs-6
                p.text-right: strong June 2011 – May 2014
        .row
            .col-xs-12
                p.text-center  Restaurant General Manager
        .row
            .col-xs-6
                p.text-left: strong Allaso Ranch &amp; Convention Center
            .col-xs-6
                p.text-right: strong November 2008 – April 2011
        .row
            .col-xs-12
                p.text-center  Executive Chef, Banquet &amp; Catering Manager
        .row
            .col-xs-6
                p.text-left: strong Fellowship Church, Grapevine, TX
            .col-xs-6
                p.text-right: strong June 2006 – November 2008
        .row
            .col-xs-12
                p.text-center Pastoral Secretary, Office Manager, Volunteer Coordinator
        .row
            .col-xs-6
                p.text-left: strong Marriott Corporation
            .col-xs-6
                p.text-right: strong Employed 5 years
        .row
            .col-xs-12
                p.text-center Assistant Director of Catering &amp; Director of Catering Interim*
        .row
            .col-xs-12
                h3.text-center: strong: em Skills Summary
                p Experience in all levels of management &bull; Menu analysis &amp; selection &bull; Food cost analysis &bull; Inventory control &bull; Purchasing &bull; Hiring and training of new and seasoned employees &bull; Oversee the daily operations of a restaurant &bull; Customer liaison &bull; Customer service &bull; Chef and banquet manager &bull; Booking catering functions &amp; events &bull; Wedding planning &amp; catering
        .row
            .col-xs-12
                h3.text-center: strong: em Accomplishments
                p Successfully reduced food and labor costs without sacrificing customer service &bull; Increase sales growth &bull; Successfully trained employees for management opportunities &bull; Overseen large number of employees while hosting banquet events &bull; Planned and hosted concert after parties for various music artists including: Kenny Rogers, Willie Nelson, Kiss, Eddie Van Halen &bull; Planned and catered Utah Jazz awards dinner and Utah Governors Ball &bull; Served anywhere between and 25 and 2500 people
        .row
            .col-xs-12
                h3.text-center: strong: em Technical Skills
                p.text-center Efficient in Microsoft Office programs
                p.text-center Experience in SUS/SMS operating system, Revention &amp; Mercury reporting.
        .row
            .col-xs-12
                p.text-center *Although this employment was not recent, the experience gained from it has laid the foundation for a lifetime career in various food industry jobs.
        .row
            .col-xs-12
                h3.text-center: strong: em References available upon request
