extends layout

block content
    .bg.blur
    .wrapper
        .container-fluid
            .row
                .col-xs-12
                    .spacer
            .row
                .col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
                    .bubble
                        img(src="/img/toque.png").hat.center-block
            .row
                .col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
                    h1.text-center.name Crysta Conley
            .row
                .hidden-xs.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
                    p.text-center.copy 30 years of experience in the management and culinary industry seeking to obtain a challenging position in this field where my extensive experience and training can and will be utilized.
            .row
                .col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
                    ul.list-inline.list-unstyled.text-center
                        li
                            a.resume(href="/resume") View Resume
                        li
                            a.resume(href="//linkedin.com/in/crysta-conley-64a843101")
                                img(src="/img/linkedin.png", title="Linkedin Profile")
                                p.sr-only Linkedin
